<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OgrenciTakipOtomasyonu.Properties.Settings.OgrenciTakipConnectionString"
            connectionString="Data Source=DESKTOP-GGOR06M\SQLEXPRESS;Initial Catalog=OgrenciTakip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>